data-raw/original
data-raw/original/*

.DS_Store
.Rhistory
.Rbuildignore
inst/db/sibdata.sqlite
inst/sib-data-app/sibdata.sqlite
inst/sib-data-app/rsconnect/*
inst/sib-data-tables/sibdata.sqlite
inst/sib-data-tables/rsconnect/*
inst/org_sibhumboldt_sibdata_app/db/sibdata.sqlite
inst/org_sibhumboldt_sibdata_app/rsconnect/*
inst/org_sibhumboldt_sibdata_app/db/sibdata.duckdb


# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/
.Rproj.user/*

# RData
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

#*.Rproj
.Rproj.user

tmp
tmp/*

.Rproj.user
.env


