@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
 font-family: 'Lato', sans-serif;
}

.text-malibu {
    color: #09A274;
}


.top-malibu {
    border-top: 2px solid #09A274;
}

#debug{
 max-height: 150px;
 overflow: auto;
}

.first-container {
 width: 250px;
}

.buttons-group,.button-style {
 width: 30px !important;
 height: 30px !important;
}

.buttons-group .button-style.active-btn {
 background-color: #000000CC !important;
 padding: 0px !important;
 width: 30px !important;
}

.buttons-group {
 display: flex !important;
 padding: 0px !important;
}

.button-checkmark {
 display: none;
}

.dropdown-action-trigger {
    background-color: #09A274 !important;
    border-radius: 3.35rem !important;
}

.dropdown-action-trigger:hover {
    background-color: #09A274 !important;
}


