@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
 font-family: 'Lato', sans-serif;
}

.shiny-output-error {
  visibility: hidden;
}

.shiny-output-error:before {
  content: "An error occurred. Please try again later.";
  visibility: visible;
  color: white;
}

.text-malibu {
    color: #09A274;
}

.top-malibu {
    border-top: 2px solid #09A274;
}

.first-container{
  width: 500px;
}

#debug{
 max-height: 250px;
 overflow: auto;
}


.button-image-input {
  grid-template-columns: repeat(auto-fit, 50px) !important;
}
.button-container {
  max-width: 35px !important;
}


.dropdown-action-trigger {
    background-color: #09A274 !important;
    border-radius: 3.35rem !important;
}

.dropdown-action-trigger:hover {
    background-color: #09A274 !important;
}

.dataTables_wrapper .dataTables_paginate {
 text-align: left !important;
 font-size: 11px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
 padding: 0.5px;
 font-size: 9px;
}
